.site-title {
  // padding: 0.5rem;
  white-space: nowrap;
  font-size: 18px !important;
  // padding-left: 1rem;
}

.site-logo {
  // background-position: center center;
  height: 36px;
  width: 36px;
  margin-right: .25rem;
}

.site-footer {
  display: none;
}

#edit-this-page,
#edit-this-page:hover {
  background-size: 0px;
}
