.site-title {
  // padding: 0.5rem;
  white-space: nowrap;
  font-size: 18px !important;
  // padding-left: 1rem;
}

.site-logo {
  // background-position: center center;
  height: 36px;
  width: 36px;
  margin-right: .25rem;
}

.site-footer {
  display: none;
}

#edit-this-page,
#edit-this-page:hover {
  background-size: 0px;
}

$callouts: (
  note: ($blue-300, rgba($blue-000, .2), 'NOTE'),
  tip: ($blue-300, rgba($blue-000, .2), 'TIP'),
  info: ($blue-300, rgba($blue-000, .2), 'INFO'),
  warn: ($yellow-300, rgba($yellow-000, .2), 'WARNING'),
  danger: ($red-300, rgba($red-000, .2), 'DANGER')
);

@each $class, $props in $callouts {
    .#{$class} {
        background: nth($props, 2);
        border-left: $border-radius solid nth($props, 1);
        border-radius: $border-radius;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
        padding: .8rem;

        &::before {
            color: nth($props, 1);
            content: nth($props, 3);
            display: block;
            font-weight: bold;
            font-size: .75em;
            padding-bottom: .125rem;
        }
    }
}

.category.label {
  background: $grey-dk-100 !important;
  // font-size: .9rem !important;
  text-transform: none !important;
  font-weight: normal !important;
  font-style: italic !important;
  // padding: 0 .1rem;
  // border-radius: 15% !important;
  margin: 0 5px;
}

.rule {
  @extend .note;
  background: rgba($green-000, .2);
  strong:first-of-type, em:first-of-type {
    color: $green-300;
  }

  &::before {
    content: '';
  }

}


.purpose {
  @extend .note;
  background: rgba($purple-000, .2);
  border-left: $border-radius solid $purple-300;

  strong:first-of-type, em:first-of-type {
    color: $purple-300;
  }

  &::before {
    content: '';
  }

}

.main-content dt::after{
  content: '' !important;
  display: none;
}

.main-content ul.tables-toc > li {
  
  padding-bottom: 5px;

  &::before {
    content: '' !important;
  }
}
