
<!-- dark mode switch -->

<script>
  /* intial setup (light is the default theme) */
  theme = sessionStorage.getItem("theme") || "light";
  jtd.setTheme(theme);

  function toggleDarkMode() {
    if (jtd.getTheme() === "dark") {
      sessionStorage.setItem("theme", "light");
      jtd.setTheme("light");
    } else {
      sessionStorage.setItem("theme", "dark");
      jtd.setTheme("dark");
    }
  }
</script>

<nav class="aux-nav" aria-label="Auxiliary">
  <ul class="aux-nav-list">
    <li class="aux-nav-list-item">
      <a class="site-button" onclick="toggleDarkMode()" href="#" title="Switch dark mode"><i class="fa fa-adjust"></i></a>
    </li>
    <li class="aux-nav-list-item">
      <a class="site-button" href="https://github.com/behaverse/data-model" title="Behaverse Data Model on GitHub">
        <i class='fa fa-github-alt'></i>
      </a>
    </li>
    <li class="aux-nav-list-item">
      <a class="site-button" href="https://doi.org/10.5281/zenodo.4336114" title="Download the latest Behaverse Data Model in pdf format">
        <i class='fa fa-file-pdf-o'></i>&nbsp;v2020.12.1
      </a>
    </li>
    <li class="aux-nav-list-item">
      <a class="site-button" href="https://behaverse.org" target="_blank" title="Open behaverse.org">
        <i class='fa fa-external-link'></i>&nbsp;behaverse.org
      </a>
    </li>
  </ul>
</nav>
