<dl class="list">

<% for (const item of items) { %>
<div <%= metadataAttrs(item) %> >
<dt class="listing-name"><%= item.name%> `<%= item.data_type %>`</dt>
<dd class="listing-description"><%= item.description %></dd>
<hr class="glossary-divider" />
</div>
<% } %>
</dl>
