/*-- scss:defaults --*/
$code-color: rgb(100, 25, 90) !default;

/*-- scss:rules --*/



.sidebar-navigation .quarto-navigation-tool {
  font-size: 1.1em;
}

.sidebar-logo {
  max-width: 70%;
  padding-bottom: 1rem !important;
}

.sidebar-divider {
  margin-top: .5em !important;
  margin-bottom: .5em !important;
  border-top: 1px solid lightgray;
}

.nav-footer, .nav-footer-center {
  min-height: unset;
} 

hr.glossary-divider {
  width: 50%;
  margin-left: 0%;
  margin-bottom: 25px;
  height: 1px;
  border: none;
  background: linear-gradient(to right, gray, transparent);
}

hr.title-divider {
  width: 100%;
  margin-left: 0%;
  margin-bottom: 25px;
  height: 2px;
  border: none;
  background: linear-gradient(to right, lightgray, transparent);
}

.glossary-listing .glossary-category-heading {
  margin-top: 0em;
}

.glossary-listing .glossary-category-heading:not(:first-child) {
  padding-top: 2em;
}

.glossary-item-name {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.5em;
  min-width: 6em;
}

.glossary-item-name code,
.table-variable_name code {
  background-color: transparent;
}

.trial-table-item {
  flex-wrap: wrap;
}

.trial-tables-listing .card-footer {
  border-top-style: dashed;
}

h2.trial-table-category-heading {
  border-bottom: 2px solid aliceblue;
}

.listing-notes, .listing-description, dd {
  margin-left: 2.5rem;
}

figcaption {
  @extend .text-center;
}

.subtitle.lead {
  font-style: italic;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.quarto-block-header {
  padding-bottom: 14px !important;
}

.file-tree code {
  line-height: .875em !important;
  font-size: 1em !important;
}

.breadcrumb-item i.float-end {
  display: none !important;
}

pre.file-tree code.sourceCode .code-annotation-anchor{
  margin-top: auto;
}