/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'system-ui','Roboto', sans-serif;
}

.title {
  font-weight: bold;
}

.quarto-title-breadcrumbs {
  padding-bottom: .5em;
}

.sidebar-navigation .quarto-navigation-tool {
  font-size: 1.1em;
}

.sidebar-logo {
  max-width: 70%;
  padding-bottom: 1rem !important;
}

.sidebar-divider {
  margin-top: .5em !important;
  margin-bottom: .5em !important;
  border-top: 1px solid lightgray;
}

.nav-footer, .nav-footer-center {
  min-height: unset;
} 

hr.glossary-divider {
  width: 50%;
  margin-left: 0%;
  margin-bottom: 25px;
  height: 1px;
  border: none;
  background: linear-gradient(to right, gray, transparent);
}

hr.title-divider {
  width: 100%;
  margin-left: 0%;
  margin-bottom: 25px;
  height: 2px;
  border: none;
  background: linear-gradient(to right, lightgray, transparent);
}

.glossary-listing .glossary-category-heading {
  margin-top: 0em;
}

.glossary-listing .glossary-category-heading:not(:first-child) {
  padding-top: 2em;
}

.glossary-item-name {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.5em;
  min-width: 6em;
}

.glossary-item-name code,
.table-variable_name code {
  background-color: transparent;
}

.trial-table-item {
  flex-wrap: wrap;
}

.trial-tables-listing .card-footer {
  border-top-style: dashed;
}

.bi.bdm-L0-data::before {
  content: url('../img/L0.svg') !important
}

.bi.bdm-L1-data::before {
  content: url('../img/L1.svg') !important
}

.bi.bdm-L2-data::before {
  content: url('../img/L2.svg') !important
}

.bi.bdm-L3-data::before {
  content: url('../img/L3.svg') !important
}
