/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'system-ui','Roboto', sans-serif;
}

.navbar-logo {
    max-height: 36px;
}

.quarto-title-banner h1, h1, h2, h3 {
    font-family: 'system-ui','Roboto', sans-serif;
}

hr.glossary-divider
{
  width: 50%;
  margin-left: 0%;
  margin-bottom: 25px;
  height: 1px;
  border: none;
  background: linear-gradient(to right, gray, transparent);
}

.glossary-listing .glossary-category-heading {
  margin-top: 0em;
}

.glossary-listing .glossary-category-heading:not(:first-child) {
  padding-top: 2em;
}

.glossary-item-name {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.5em;
  min-width: 6em;
}

.glossary-item-name code {
  background-color: transparent;
}

.trial-table-item {
  flex-wrap: wrap;
}

.trial-tables-listing .card-footer {
  border-top-style: dashed;
}

.sidebar-data-level-badge {
  vertical-align: text-bottom;
}

.bi.bdm-level0-data::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="16px" height="16px" viewBox="-0.5 -0.5 256 256"><defs/><g><g data-cell-id="0"><g data-cell-id="1"><g data-cell-id="WsvI-Zb9c0R2y7OxulTt-1"><g><rect x="8" y="8" width="240" height="240" rx="36" ry="36" fill="rgb(255, 255, 255)" stroke="rgb(0, 0, 0)" stroke-width="16" pointer-events="all"/></g><g><g transform="translate(-0.5 -0.5)scale(2)"></g></g></g></g></g></g></svg>') !important
}
