<div class="grid quarto-listing-cols-3 trial-tables-listing">
<% for (const item of items) { %>
<div class="col-sm-3">
<div class="card shadow-sm rounded h-100">
<div class="card-body">
  <h5 class="card-title"><a href="<%- item.path %>"><b><%= item.title %></b></a></h5>
  <p class="card-text"><%= item.description %></p>
</div>
<div class="card-footer bg-transparent small">
  <div>
  <a href="<%- item.path %>" class="no-external">Details</a>
  <a href="#" class="no-external float-end">Example</a>
  </div>
</div>
</div>
</div>
<% } %>
</div>
